.fieldAddTasks {
  margin-top: -1.688rem;
  width: 46rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fieldAddTasks input {
  width: 39.875rem;
  height: 3.375rem;
  padding: 1rem;
  font-weight: 400;
  line-height: 1.4;
  border: 0;
  border-radius: 8px;
  color: var(--gray-100);
  background: var(--gray-500);
}

.fieldAddTasks button[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5.625rem;
  height: 3.25rem;
  border: 0;
  border-radius: 8px;
  background: var(--blueDark);
}

.fieldAddTasks button[type=submit] span {
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--gray-100);
}