.containerTask {
  display: flex;
  justify-content: space-around;
  width: 46rem;
  height: auto;
  padding: 1rem;
  background: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.contentTask {
  width: 39.5rem;
}

.checkbox {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.checkbox:checked:before {
  opacity: 0.9;
}

.checkbox:checked {
  border: 2px solid var(--purpleDark);
  background: var(--purpleDark);
}

.checkbox:before {
  content: "";
  width: 7.31px;
  height: 4.69px;
  border-radius: 0;
  opacity: 0;
  transition: all ease-in-out;
  border-left: 3px solid var(--gray-100);
  border-bottom: 3px solid var(--gray-100);
  transform: rotate(-45deg);
}

.checkbox:hover {
  cursor: pointer;
}

.taskCompleted {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.taskNotCompleted {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--gray-100);
}

.containerTask button {
  background: transparent;
  border: 0;
  border-radius: 4px;
  line-height: 0;
  color: var(--gray-300);
}

.containerTask button:hover {
  cursor: pointer;
  color: var(--danger);
  background: var(--gray-400);
}