.containerTasks {
  max-width: 46rem;
  margin-top: 4rem;
  height: 17.938rem;
  width: 46rem;
}

.inforTasks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  color: #3333;
}

.inforTasks div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.inforTasks strong {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.063rem;
  color: var(--blue);
}

.inforTasks strong:nth-child(2) {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.063rem;
  color: var(--purple);
}

.inforTasks span {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.938rem;
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 2px 8px;
  border-radius: 999px;
}

.listTasks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}